@font-face {
    font-family: 'roboto';
    src: url('roboto-variablefont_wdthwght-webfont.woff2') format('woff2'),
         url('roboto-variablefont_wdthwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --global-padding: 15px;
    --light-gray: #e2e8f0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'roboto', Arial, Helvetica, sans-serif;
    list-style: none;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 6fr;
}

.sidebar {
    grid-row: 1 / -1;
    color: white;
    background-color: #1992d4;
    padding: var(--global-padding);
    display: flex;
    flex-direction: column;
}

.title,
.nav > *,
.settings > *  {
    display: grid;
    grid-template: 1fr 1fr / 3em 1fr;
    column-gap: 10px;
    justify-items: center;
    align-items: center;
}

.settings {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
}

.title h1,
.nav li,
.settings li {
    justify-self: start;
}


.sidebar li {
    font-weight: bold;
    font-size: 20px;
}

svg {
    height: 1.5em;
}

.title svg {
    height: 3em;
}

.header {
    padding: calc(var(--global-padding) + 10px);
    padding-left: 50px;
    padding-right: 50px;
}

.upper-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    flex: 1;
    display:flex;
    align-items: center;
    gap: 20px;
}

input#search {
    background-color: var(--light-gray);
    border: 0px;
    border-radius: 30px;
    height: 2.5em;
    width: 40vw;
}

.user {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user img {
    height: 3em;
    border-radius: 50px;
}

.content {
    background-color: var(--light-gray);
}